/* RESET */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"]{
  box-sizing: border-box;
  float: left;
  min-height: 7px;
  /* gutters */
  padding: 12px;
  /* margin: .25rem .5rem; */
}


@media all and (max-width: 1200px){
  .col-12{
    width: 100%;
    height: auto;
    background-color: #920851;
  }

  .a{
  font-family: 'Anton', sans-serif;
  font-size: 5rem;
  color: white;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  }

  .col-8{
    width: 66.66666666666666%;
    height: auto;
    background-color: #FF5722;
  }

  .b{
  font-family: 'Anton', sans-serif;
  font-size: 5rem;
  color: white;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 30%;
  }

  .col-4{
    width: 33.33333333333333%;
    height: auto;
    background-color: #E91E63;
  }

  .c{
  font-family: 'Anton', sans-serif;
  font-size: 5rem;
  color: white;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 30%;
  }

}

/* @media all and (max-width: 425px){ */
